html{
    background-color: black;
    color:white;
    font-family: Gesta;
} 

.largevid{
    width:60vw;
    margin:10px;
    margin-top: 30px;
}

.largevid:hover{
    width:60vw;
}

video{
    width:30vw;
    margin: 5px;
}

video:hover{
    width:50vw;
}

.wrapper{
    text-align: center;
}

.info{
    border: 1px solid white;
    margin-right:1145px;
    margin-left:10px;
    margin-top:10px;
    box-shadow: 2px 2px 20px white;
}

a{
    text-decoration: none;
    color:white;
}


h1{
    margin-top: 3px;
    margin-bottom:0px;
    margin-left:10px;
    font-weight:300;
    font-size: 28px;
}

h2{
    margin-top:0px;
    margin-bottom:3px;
    margin-left:10px;
    font-weight: 200;
    font-size: 20px;
}