html{
    background:beige;
    display:block;
    margin:30px;
}
body{
    cursor: url(sunshine.png), auto;
 }

h1{
    color:burlywood;
    font-family: safira march personal use;

}


.category{
    color:burlywood;
    font-family: safira march personal use;

}

.name{
    color:burlywood;
    font-family: safira march personal use;
    font-size: 10px;
    margin-left: 40px;
}

.site{
    color:burlywood;
    font-family: safira march personal use;
    font-size: 10px;
    margin-left: 40px;
}

a{
    color:burlywood;
}

