html{
    background:beige;
    display:block;
    margin:100px;
}
body{
    cursor: url(sunshine.png), auto;
 }

h1{
    color:burlywood;
    font-family: safira march personal use;
    font-size:48px;

}



.categoryleft{
    color:burlywood;
    font-family: safira march personal use;

}

.categoryright{
    color:burlywood;
    font-family: safira march personal use;
    text-align:right;
    margin-right: 200px;

}

.proj{
    color:burlywood;
    font-family: safira march personal use;
    font-size: 10px;
}
.name{
    color:burlywood;
    font-family: safira march personal use;
    font-size: 10px;
    margin-left: 40px;
    margin-right: 200px;
    text-align:right;
    /* line-height: 0.8; */

}

.site{
    color:burlywood;
    font-family: safira march personal use;
    font-size: 10px;
    margin-left: 40px;
}

a{
    color:burlywood;
}

a:hover{
    text-decoration: none;
    background-color:burlywood;
    color: beige;
}

main{
    display:grid;
    grid-template-columns: 500px 500px;
    gap: 5px;
    
  
    
}

.leftside{
    grid-column:1/2;
    margin-left: 100px;
}

.rightside{
    grid-column: 2/2;
}

