body{
    background-color: rgb(239, 248, 206);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

#shape{
    height:600px;
    animation: shapeSpin 10s ease-out infinite;

}

#shape:hover {
    animation-play-state: paused;
    cursor: pointer;
  }


@keyframes shapeSpin {
    0% {
      transform: rotate(0turn);
    }
    100% {
      transform: rotate(1turn);
    }
  }


