h1 {
    width:500px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-family: lambda;
    font-size: 46px;
}

img{
    width:200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  transition: transform .2s;
    
}

img:hover{
    transform: scale(1.2);
}

html{
    cursor:help;
}

body{
    cursor:help;
}