body{
    font-family: classico;
}

h1{
    color:black;
    font-size:96px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 50px;

}
.wrapper{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(18,8vw);
    grid-gap:7px;
}


p{
    font-size:24px;
}

p.text1{
    grid-row-start:1;
    grid-column:7/11;
}

p.text2{
    grid-row-start:4;
    grid-column:5/9;
}

p.text3{
    grid-row-start:6;
    grid-column:4/8;
}

p.text4{
    grid-row-start:8;
    grid-column:7/12;
}

p.text5{
    grid-row-start: 11;
    grid-column:2/6;
}

p.text6{
    grid-row-start: 15;
    grid-column:6/10;
    z-index: 5;
}


img.image1{
    grid-row-start:1;
    grid-column:4/6;
    width:130%;
}

img.image2{
    grid-row-start:3;
    grid-column:3/5;
    width:80%;
}

img.image3{
    grid-row-start:5;
    grid-column:9/11;
    width:90%;
}

img.image4{
    grid-row-start:8;
    grid-column:3/6;
    width:120%;
}

img.image5{
    grid-row-start:10;
    grid-column:6/7;
    width:230%;
}

img.image6{
    grid-row-start: 13;
    grid-column:5/11;
    width:100%;
    z-index: 1;
}

p.text7{
    grid-row-start: 18;
    grid-column:5/10;
    font-size:14px;
    z-index: 5;
    color:gray;
    padding-top: 50px;
}